#love {
	background-color:crimson;
	border-radius:28px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 64px;
	text-decoration:none;
	text-shadow:0px 1px 0px red;
    margin-top: 20%;
}
#love:hover {
	background-color:brown;
}
#love:active {
	position:relative;
	top:1px;
}

#money {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 64px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#money:hover {
	background-color:#5cbf2a;
}
#money:active {
	position:relative;
	top:1px;
}

#advice {
	background-color:lightblue;
	border-radius:28px;
	border:1px solid lightblue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 64px;
	text-decoration:none;
	text-shadow:0px 1px 0px blue;
}
#advice:hover {
	background-color:blue;
}
#advice:active {
	position:relative;
	top:1px;
}

body{
    background-color: purple;
}
#fortuneResult{
    color: white;
	margin-top: 3%;
}